@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Pratikshya Timalsina</h3>

<address>
    1208 Hooks Dr Apt 1<br />
    Hammond, LA 70401<br />
    <abbr title="Phone">P:</abbr>
    612.839.3976
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:pratikhsya.timalsina@selu.edu">pratikshya.timalsina@selu.edu</a><br />
</address>